.Homepage {
  padding: 0 24px;
  &-Container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-VideoList {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
  &-VideoItem {
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 16px;
    color: #ffffff;
    @media screen and (max-width: 1024px) {
      width: 33%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }
  &-VideoThumbnail {
    width: 100%;
    cursor: pointer;
  }
  &-VideoName {
    color: #ff9900;
    line-height: 1.3em;
    text-align: justify;
  }
  &-VideoActor {
    margin-top: 10px;
    font-size: 14px;
    color: #cacaca;
  }
}

.Header {
  box-sizing: border-box;
  padding: 16px 24px;
  background-color: #1b1b1b;
  margin-bottom: 32px;
  &-Container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &-Logo {
    max-width: 250px;
    width: 100%;
    height: auto;
  }
  &-Input {
    flex: 1 1 100%;
    background-color: #363636;
    border: none;
    border-radius: 3px 0px 0px 3px;
    color: #cacaca;
    box-sizing: border-box;
    padding: 6px;
    max-width: 500px;
    width: 100%;
    height: 26px;
    font-family: "Noto Sans TC", sans-serif;
    &:focus {
      border: 1px solid #555;
    }
    @media screen and (max-width: 768px) {
      max-width: none;
    }
  }
  &-Btn {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9900;
    border: none;
    border-radius: 0px 3px 3px 0px;
    width: 50px;
    height: 26px;
    cursor: pointer;
    &:hover {
      background-color: #ffa31a;
    }
  }
  &-Icon {
    width: 16px;
    height: auto;
  }

  &-Search {
    display: flex;
    align-items: center;
    margin-left: 18px;
    width: 100%;
    flex: 1;
    @media screen and (max-width: 768px) {
      flex: 0 0 auto;
      margin-left: 0;
      margin-top: 12px;
    }
  }
}
