.Player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  color: #ffffff;
  padding: 0 24px;
  box-sizing: border-box;
  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &-Wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
  }
  &-VideoWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }
  &-Video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-Close {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    cursor: pointer;
  }
  &-Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-Name {
    font-size: 16px;
    margin-bottom: 12px;
  }
  &-Actor {
    font-size: 12px;
  }
}
