.Verification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0 24px;
  &-Wrapper {
    text-align: center;
  }
  &-Input {
    background-color: #363636;
    border: none;
    border-radius: 3px;
    color: #cacaca;
    box-sizing: border-box;
    padding: 6px;
    width: 50px;
    height: 26px;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    margin: 0 6px;
    &:focus {
      border: 1px solid #555;
    }
  }
  &-Text {
    margin-bottom: 12px;
    line-height: 1.3em;
    color: #cacaca;
  }
  &-Age {
    margin-bottom: 18px;
    color: #cacaca;
  }
  &-Btn {
    background-color: #ff9900;
    border: none;
    border-radius: 3px;
    // height: 26px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 6px;
    box-sizing: border-box;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #ffa31a;
    }
  }
}
